XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

xterm*background: black
xterm*foreground: white

XTerm*.font: xft:MesloLGS\ NF:Regular:size=10

Xft.dpi: 192

